@charset "UTF-8";
.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    height: 100vh;
    background-size: cover;
}

.tourism-card {
    text-align: center;
    background-color: white;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.main-heading {
    font-family: "Roboto";
}

.paragraph {
    font-family: "Roboto";
}

.button {
    height: 36px;
    width: 138px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
    border-width: 0px;
}

.favourite-places-bg-container {
    background-image: url("https://img.freepik.com/free-photo/majestic-pyramid-shape-awe-inspiring-ancient-civilization-monument-generated-by-ai_188544-21352.jpg?w=1060&t=st=1705051230~exp=1705051830~hmac=23d36bd13d923023bdcbe4104dbaa3362fdb104fbb0c313b021265f574b70115");

    height: 100vh;
    background-size: cover;
}

.favourite-places-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 24px;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 15px;
}

.favourite-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.favourite-place-card-description {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 13px;
}

.favourite-place-card-image {
    width: 80px;
    height: 100px;
}

.detailed-view-bg-container {
    background-image: url('https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30531.jpg?w=996&t=st=1705435031~exp=1705435631~hmac=f0b096dad7b86a1ce45c79088aa3ce56853268f0d54e3fb5aaa6f970c621d8e7');
    background-size: cover;
    height: 100vh;
}

.detailed-view-heading {
    color: white;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 22px;
    padding: 24px;
}

.detailed-view-card-container {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 18px;
}

.detailed-view-text-container {
    padding: 15px;
}

.detailed-view-card-heading {
    color: #0f0e46;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 25px;
}

.detailed-view-card-description {
    font-family: 'roboto';
    font-size: 13px;
    color: #6c6b70;
}